<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>

    <!-- CONEXIÓN CORRECTA AL CSS -->
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>
    <!-- GALERÍA HORIZONTAL (CARRUSEL) -->
    <section class="horizontal-gallery">
      <div class="h-track">
        <!-- AÑADE AQUÍ TUS IMÁGENES -->
        <img
          src="src/assets/img/intro/portfolio_Mesa de trabajo 1.jpg"
          class="h-item"
        />
        <img src="src/assets/img/intro/portfolio-02.jpg" class="h-item" />
        <img src="assets/intro/gal3.jpg" class="h-item" />
        <img src="assets/intro/gal4.jpg" class="h-item" />
      </div>
    </section>

    <!-- JS (si quieres usarlo luego) -->
    <script src="../js/main.js"></script>
  </body>
</html>
