<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>

    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>
    <!-- GALERÍA HORIZONTAL (CARRUSEL) -->
    <section class="horizontal-gallery">
      <div class="h-track">
        <img src="../assets/img/intro/pt2.jpg" class="h-item" />
        <img src="../assets/img/intro/pt1.jpg" class="h-item" />
      </div>
    </section>

    <script src="../js/main.js"></script>
  </body>
</html>
